body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1877F2; /* Color característico de Facebook */
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

main {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #1877F2; /* Color característico de Facebook */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0A5499; /* Cambio de color al pasar el mouse */
}

/* Estilos adicionales para personalizar el diseño */
