body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1877F2; /* Color característico de Facebook */
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

main {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #1877F2; /* Color característico de Facebook */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0A5499; /* Cambio de color al pasar el mouse */
}

.party {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombras con bordes redondeados */
    border-radius: 10px; /* Bordes redondeados */
}

.party img {
    max-width: 100%;
}

.party h2 {
    font-size: 18px;
    margin-top: 10px;
}
